<div>
    <%= link_to root_path do %>
    <h1 style=‘color :brown;’>progress bar</h1>
    <% end %> 
    
    <%= link_to "Frist", first_path =%>
    <%= link_to "Second", second_path =%>
    <%= link_to "Posts/1", controller: :home, action: :show_post, id:1 =%>
</div>